.bank-info {
    width: 100%;
    height: 110%;
    background-color: white;
    // прокрутка по оси Y
    overflow-y: scroll;
    overflow: auto;
    transition: transform 0.3s ease-in-out;
    padding: 0px 20px;
    font-size: 20px;
}

.bank-info-address {
    padding: 10px 0;
    font-size: 12px;
}

.bank-services-currency,
.bank-services-invalid {
    display: flex;
}

.bank-services p {
    font-size: 16px;
}

.bank-services img {
    width: 20px;
    margin: 10px;
    
}

.bank-buttons {
    display: flex;
    font-size: 10px;
    justify-content: space-between;
}

@media (max-width: 425px) {
    .bank-info {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 100%;
        margin-top: 20px;
    }
}