.queue {
    padding: 20px 5px;
    font-size: 14px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.queue-wait {
    margin: 5px 0;
}

.queue-completed {
    margin: 5px 0;
}

.queue h2 {
    font-size: 18px;
    font-weight: 600;
}

.queue-item {
    display: flex;
    align-items: center;
}

.queue-item p {
    font-size: 15px;
}

@media (max-width: 750px) {
    .queue-item {
        display: block;
    }

    .queue {
        align-items: center;
    }
}